nextflow.enable.dsl=2

docker {
    enabled = true
    temp = '/tmp' // specify temp directory if needed
    runOptions = '-u $(id -u):$(id -g)' // run container with current user permissions
}

process {
    executor = 'local' // run processes locally
    errorStrategy = 'retry' // retry on failure
    maxRetries = 3

    withName:downloadFastq {
        container = 'kubilaymeydan/sra-toolkit-docker:latest' // Docker Hub image
        memory = '2 GB'  
        cpus = 2         
    }

    withName:trimReads {
        container = 'kubilaymeydan/cutadapt-docker:latest' // Docker Hub image
        memory = '2 GB'  
        cpus = 2  
    }      
    withName:downloadGenome {
        container = 'kubilaymeydan/bowtie-docker:latest' // Docker Hub image
        memory = '2 GB'  
        cpus = 2
    }
    withName:indexGenome {
        container = 'kubilaymeydan/bowtie-docker:latest' // Docker Hub image
        memory = '2 GB'  
        cpus = 2         
    }
    withName:mapReads {
        container = 'kubilaymeydan/bowtie-docker:V2.0' // Docker Hub image
        memory = '2 GB'  
        cpus = 2        
    }
    withName:featureCount {
        container = 'kubilaymeydan/subreads-docker:latest' // Docker Hub image
        memory = '2 GB'  
        cpus = 2         
    }
}
