nextflow.enable.dsl=2

docker {
    enabled = true
    temp = '/tmp' // specify temp directory if needed
    runOptions = '-u $(id -u):$(id -g)' // run container with current user permissions
}

process {
    executor = 'local' // run processes locally
    errorStrategy = 'retry' // retry on failure
    maxRetries = 3

    withName:trimReads {
        container = 'kubilaymeydan/cutadapt-docker:latest' // Docker Hub image
        //memory = '8 GB'  // Adapter trimming can be memory-intensive but not very parallelizable.
        //cpus = 3         // Use moderate CPU for this process.
    }
    withName:downloadGenome {
        container = 'kubilaymeydan/bowtie-docker:latest' // Docker Hub image
        //memory = '4 GB'  // Downloading files doesn't require much memory.
        //cpus = 1         // Single CPU is sufficient for network tasks.
    }
    withName:indexGenome {
        container = 'kubilaymeydan/bowtie-docker:latest' // Docker Hub image
        //memory = '12 GB'  // Indexing can be memory-intensive depending on genome size.
        //cpus = 4         // Utilize multiple CPUs for faster indexing.
    }
    withName:mapReads {
        container = 'kubilaymeydan/bowtie-docker:latest' // Docker Hub image
        //memory = '14 GB'  // Mapping typically requires significant memory, especially for large datasets.
        //cpus = 4        // Utilize multiple CPUs for speed.
    }
    withName:featureCount {
        container = 'kubilaymeydan/subreads-docker:latest' // Docker Hub image
        //memory = '4 GB'  // Counting features is lightweight.
        //cpus = 2         // Use 2 CPUs for slightly faster processing.
    }
}
